name: Test
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Node unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        uses: actions/setup-node@v3
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/
          scope: "@kevin-delong"

      - name: Install dependencies
        uses: actions/checkout@v3
        uses: actions/setup-node@v3
        with:
          version: 6.23.6
          run_install: true

      - name: Lint source
        run: |
          npm run lint:ci

      - name: install dependencies
        run: npm ci

      - name: Build package
        run: |
          npm run build

      - name: Run tests
        run: |
          npm run test:ci
        env:
          CI: true

      - name: Generate Code Coverage
        # only when running in node v16
        if: matrix.node == 16
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: 'Consume changesets'
        if: github.event_name == 'push' && github.repository == 'ivandotv/untilted' && matrix.node == 16 && github.ref == 'refs/heads/main'
        uses: changesets/action@v1
        id: 'changesets'
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: npm publish
          commit: version bump
          title: Next release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Generate docs'
        if: steps.changesets.outputs.published == 'true'
        run: npm run gen:docs

      - name: Commit docs
        if: steps.changesets.outputs.published == 'true'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'Generate docs'
